<div class="p-5 box">
  <input type="date" name="" id="" class="form-control" />
  <input type="text" name="" id="" class="form-control"/>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">@</span>
    </div>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
  </div>

  <hr />
  {{ title }}
  <div style="padding: 5px; border: 4px dashed green; margin: 4px;" *ngFor="let item of data">

    <span style="font-weight: bold; background-color: #218b31; color: #a8b92b; ">
      {{item.title}}
    </span>
    {{ item.price }}

    <img [src]="item.imgSrc" alt="" width="50" style="border: 4px dashed red" />
  </div>
  <app-grid [data]="['bob', 'kris', 'zuza']"></app-grid>

  <app-grid [data]="['pastor', 'jp2', 'benedykt16', 'franciszek']"></app-grid>

  <app-grid [data]="['pinar', 'alicja']"></app-grid>
</div>
